[test]
HeapTest.ConstructionDestruction                 = .5
HeapTest.InitiallyEmpty                          = .5
HeapTest.EmptyPeekException                      = .5
HeapTest.EmptyRemoveException                    = .5
HeapTest.SingleItemNonempty                      = 1
HeapTest.SingleItemPush                          = 1
HeapTest.SingleItemPushPop                       = 1
HeapTest.TwoElementPush_LowPriFirst              = 1
HeapTest.TwoElementPush_HighPriFirst             = 1
HeapTest.TwoElementsSamePriority                 = 1
HeapTest.NegativePriorities                      = 1
HeapTest.ThreeElementPush_10_20_30               = 1
HeapTest.ThreeElementPush_10_30_20               = 1
HeapTest.ThreeElementPush_20_10_30               = 1
HeapTest.ThreeElementPush_20_30_10               = 1
HeapTest.ThreeElementPush_30_10_20               = 1
HeapTest.ThreeElementPush_30_20_10               = 1
HeapTest.StringStorage                           = 1
HeapTest.ThreeElementPush_TrinaryHeap            = 1
HeapTest.ThreeElementPush_QuaternaryHeap         = 1
HeapStress.50x50RandomElements_BinaryHeap        = 1
HeapStress.50x50RandomElements_QuaternaryHeap    = 1
HeapStress.50x50RandomElements_DodecenaryHeap    = 1
HeapStress.2x10000RandomElements_Binary          = 1
HeapRuntime.Add                                  = 1
HeapRuntime.Peek                                 = 1
HeapRuntime.Remove                               = 1
