[test]
Search.OneSquare              = 1
Search.MicroHorizontal        = 1
Search.MicroVertical          = 1
Search.Discontiguous          = 1
Search.Ring                   = 1
Search.EqualSmallerCountries  = 1
Search.26Letters              = 1
Search.DiagonalCountries      = 1
Search.ProvidedMap            = 1
Search.WindingRing            = 2
Search.Concentric             = 2
Search.Checkerboard           = 2
