[test]
SecondMemtest.Execution                   = 1
FlexCharManager.ConstructionDestruction   = .5
FlexCharManager.InvalidFree               = .5
FlexCharManager.ZeroFill                  = .5
FlexCharManager.OneCharAlloc              = .5
FlexCharManager.OneCharFree               = .5
FlexCharManager.FiveCharAlloc             = .5
FlexCharManager.FiveCharAllocFree         = 1
FlexCharManager.Alloc_x2                  = 1
FlexCharManager.AllocFree_x2_RevOrder     = 1
FlexCharManager.AllocFree_x2_FwdOrder     = 1
FlexCharManager.MemoryReuse               = 2
FlexCharManager.Alloc10000Chars           = 1
FlexCharManager.Alloc5Charx2000           = 2
FlexCharManager.AllocDealloc10Charx1000   = 2
FlexCharManager.RandomOrderDealloc        = 2
FlexCharManager.BasicFirstFit             = 1
FlexCharManager.IntermediateFirstFit      = 2
