[test]
FirstMemtest.Execution                     =  1
SimpleCharManager.ConstructionDestruction  =  .5
SimpleCharManager.OneCharAlloc             =  .5
SimpleCharManager.OneCharFree              =  .5
SimpleCharManager.FiveCharAlloc            =  .5
SimpleCharManager.FiveCharAllocFree        =  1
SimpleCharManager.AllocFree_x2             =  1
SimpleCharManager.FreeAll                  =  1
SimpleCharManager.Alloc10000Chars          =  2
SimpleCharManager.Alloc1Charx10000         =  2
